/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button{
    border: none;
}

/* start */
* {
   background-color: transparent;
}
.TopBanner{
    border: 1px solid black;
    height: 42px;
    background: rgb(95, 0, 128);
    
}
.TopBanner > div{
    width: 1050px;
    height: 42px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}
.TopBanner > div > a{
    font-size: 14px;
    color: #fff;
    margin: 0 auto;
    line-height: 42px; 
    height: 42px;
    text-decoration: none;
}
.TopBanner > div > button {
    width: 42px;
    height: 42px;
    top: 0;
    right: 0;
    border: none;
    background-position: 0 0;
    background-size: 42px 42px;
    background-image: url(https://res.kurly.com/pc/ico/1908/ico_close_fff_84x84.png);
}

.Header{
    position: relative;
    width: 1050px;
    height: 100px;
    margin: 0 auto;
}
.Header1{
    height: 35px;
    right: 0;
    top: 0;
    position: absolute;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    border: 0.1px solid salmon; 
    font-size: 12px;
    text-decoration: none;
    align-items: center;  
}
.Header1 > a {
    display: block;
    text-decoration: none;
    white-space: nowrap;  /* 줄바뀜 방지 */
}
.HeaderJoin {
    color: rgb(95, 0, 128);
}
.HeaderLine{
    display: block;
    width: 1px;
    height: 13px;
    margin: 0px 12px;
    background-color: rgb(217, 217, 217);
}
.HeaderCustomerCenter{
    display: block;
    position: relative;
    white-space: nowrap;  /* 줄바뀜 방지 */
}
.HeaderCustomerCenter > span{
    width: 8px;
    height: 5px;
    background-image: url(https://res.kurly.com/pc/ico/1908/ico_down_16x10.png);
    background-size: cover;
    background-position: center center;
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 1px;
}

.Header2{
    width: 1050px;
    height: 63px;
    padding-top: 36px;
    display: flex;
    flex-direction: row;
}
.Header2Inner1{
    display: flex;
    border: 3px solid red;
    height: 63px;
    align-items: center;
}
.Header2Inner1 > img{
    flex: 0 0 82px;
}

.Header2Inner1Button1{
    font-size: 18px;
    font-weight: 500;
    margin-left: 20px;
    color: rgb(95, 0, 128);
}
.Header2Inner1Button2{
    font-size: 18px;
    margin-left: 22px;
    color: rgb(181, 181, 181);
    /* position: relative; */
}

.Header2Inner2{
    width: 1050px;
    margin: 0 auto;
    border: 1px solid purple;
}


.Nav{
    width: 1120.8px;
    height: 56px;
    margin: 0 auto;
}

